/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	font-family: Verdana;
	font-size: 10;
}

s|Button
{
	color: #ff0000;
	chrome-color:#ffff00;
}
	